
/*Style sheet for mina's business*/

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Teachers:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --heading-font: "Rock Salt", Helvetica, sans-serif;
    --paragraph-font: Teachers, helvetica, sans-serif;
}

#content{
    max-width: 2000px;
    margin: 0 -10px;
    background-color: #4A4641;
}
header, footer{
    background-color: #4A4641;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 10px;
}
.logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    
}
nav a{
    text-decoration: none;
    padding: 15px 75px;
    text-align: center;
    font-family: var(--paragraph-font);
    color: #FFE3E3;
    font-size: 1.5em;
}
nav a:hover{
    color: white;
    background-color: #88A27D;
}
.logo{
    max-width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
img{
    width: 100%;
    height: auto;
    max-height: 850px;
    margin: 10px auto;
}
h1 {
    font-family: var(--heading-font);
    text-align: center;
    color: whitesmoke;
    text-shadow: 4px 4px 4px black ;
    padding-bottom: 30px;
}
p {
    font-family: var(--paragraph-font);
    text-align: center;
    color: whitesmoke;
    font-size: 1.4em;
    padding: 2px 5%;
    text-shadow: 4px 4px 4px black;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 800px 1fr 1fr;
    grid-template-rows: 850px 400px 1fr;
}
#msg{
    background-color: #88A27D;
    grid-column: 2/5;
    grid-row: 2/3;
    z-index: 2;
    margin: -50px auto;
    padding: 20px;
    justify-content: center;
    align-content: center;
    box-shadow: 6px 6px 5px black;
    border-radius: 25px;
}
.leaves{
    grid-column: 1/span 5;
    grid-row: 3/4;
    margin-top: -10px;
}
.background{
    grid-column: 1/span 5;
    grid-row: 1;
}
footer .logo{
    margin-left: 20px;
    margin-bottom: 15px;
}
footer{
    margin-top: -20px;
}
.active{
    background-color: #88A27D;
    color: white;
}
